body.modula-gallery_page_modula-addons #wpcontent,
body.modula-gallery_page_modula #wpcontent,
body.post-type-modula-gallery:not(.post-new-php):not(.post-php) #wpcontent,
body.modula-gallery_page_modula-lite-vs-pro #wpcontent {
	padding-left : 0;
}

body.modula-gallery_page_modula-addons #wpcontent .wrap,
body.modula-gallery_page_modula #wpcontent .wrap,
body.post-type-modula-gallery:not(.post-new-php):not(.post-php) #wpcontent .wrap,
body.modula-gallery_page_modula-lite-vs-pro #wpcontent .wrap {
	margin : 0;
}

body.modula-gallery_page_modula-lite-vs-pro #wpcontent .wrap,
body.modula-gallery_page_modula-import-export #wpcontent .wrap {
	padding : 25px 40px 0 20px;
}


body.modula-gallery_page_modula-addons .modula-addons-container,
body.modula-gallery_page_modula-addons .modula-free-addons-container,
body.modula-gallery_page_modula-addons .nav-tab-wrapper,
body.modula-gallery_page_modula-lite-vs-pro .modula-addons-container,
body.modula-gallery_page_modula-lite-vs-pro .modula-free-addons-container,
body.modula-gallery_page_modula-lite-vs-pro .nav-tab-wrapper,
body.modula-gallery_page_modula .modula-addons-container,
body.modula-gallery_page_modula .modula-free-addons-container,
body.modula-gallery_page_modula .nav-tab-wrapper,
body.post-type-modula-gallery .modula-addons-container,
body.post-type-modula-gallery .modula-free-addons-container,
body.post-type-modula-gallery .nav-tab-wrapper {
	padding : 20px;
}

/* Added by Cristi */
body.modula-gallery_page_modula-addons .nav-tab-wrapper .dashicons {
	font-size: 16px;
	vertical-align: middle;
	line-height: 17px;
}

body.post-type-modula-gallery.post-new-php .modula-page-header,
body.post-type-modula-gallery.post-php .modula-page-header {
	margin-left   : -20px;
	padding-right : 20px;
	margin-right  : -20px;
}

body.modula-gallery_page_modula-addons .modula-page-header,
body.modula-gallery_page_modula-lite-vs-pro .modula-page-header,
body.modula-gallery_page_modula .modula-page-header,
body.post-type-modula-gallery .modula-page-header {
	padding : 0;
}

body.modula-gallery_page_modula-addons .modula-page-header .modula-header-logo,
body.modula-gallery_page_modula-addons .modula-page-header .modula-header-links,
body.modula-gallery_page_modula-lite-vs-pro .modula-page-header .modula-header-logo,
body.modula-gallery_page_modula-lite-vs-pro .modula-page-header .modula-header-links,
body.modula-gallery_page_modula .modula-page-header .modula-header-logo,
body.modula-gallery_page_modula .modula-page-header .modula-header-links,
body.post-type-modula-gallery .modula-page-header .modula-header-logo,
body.post-type-modula-gallery .modula-page-header .modula-header-links {
	padding : 20px;
}

body.modula-gallery_page_modula-addons .modula-page-header .modula-header-logo,
body.modula-gallery_page_modula-lite-vs-pro .modula-page-header .modula-header-logo,
body.modula-gallery_page_modula .modula-page-header .modula-header-logo,
body.post-type-modula-gallery .modula-page-header .modula-header-logo {
	padding-right : 20px;
}

body.modula-gallery_page_modula-addons .nav-tab-wrapper,
body.modula-gallery_page_modula-lite-vs-pro .nav-tab-wrapper,
body.modula-gallery_page_modulaaddons .nav-tab-wrapper,
body.post-type-modula-gallery .nav-tab-wrapper {
	padding-bottom : 0;
}

body.modula-gallery_page_modula-addons .modula-page-header,
body.modula-gallery_page_modula-lite-vs-pro .modula-page-header,
body.modula-gallery_page_modula .modula-page-header,
body.post-type-modula-gallery .modula-page-header {
	border-bottom : 1px solid #ccc;
}

body.modula-gallery_page_modula-addons .modula-page-header .modula-header-links a,
body.modula-gallery_page_modula-addons .modula-page-header .modula-header-links a span,
body.modula-gallery_page_modula-lite-vs-pro .modula-page-header .modula-header-links a,
body.modula-gallery_page_modula-lite-vs-pro .modula-page-header .modula-header-links a span,
body.modula-gallery_page_modula .modula-page-header .modula-header-links a,
body.modula-gallery_page_modula .modula-page-header .modula-header-links a span,
body.post-type-modula-gallery .modula-page-header .modula-header-links a,
body.post-type-modula-gallery .modula-page-header .modula-header-links a span {
	vertical-align : middle;
}

body.modula-gallery_page_modula-addons .modula-page-header .modula-header-links a span,
body.modula-gallery_page_modula-lite-vs-pro .modula-page-header .modula-header-links a span,
body.modula-gallery_page_modula .modula-page-header .modula-header-links a span,
body.post-type-modula-gallery .modula-page-header .modula-header-links a span {
	font-size:16px;
	line-height:18px;
}

body.modula-gallery_page_modula-addons .nav-tab-wrapper .nav-tab,
body.modula-gallery_page_modula-lite-vs-pro .nav-tab-wrapper .nav-tab,
body.modula-gallery_page_modula .nav-tab-wrapper .nav-tab,
body.post-type-modula-gallery .nav-tab-wrapper .nav-tab {
	margin-left  : 0;
	border-right : 0;
}

body.modula-gallery_page_modula-addons .nav-tab-wrapper > .nav-tab:first-child,
body.modula-gallery_page_modula-lite-vs-pro .nav-tab-wrapper > .nav-tab:first-child,
body.modula-gallery_page_modula .nav-tab-wrapper > .nav-tab:first-child,
body.post-type-modula-gallery .nav-tab-wrapper > .nav-tab:first-child {
	border-top-left-radius : 4px;
}

body.modula-gallery_page_modula-addons .nav-tab-wrapper > .nav-tab.last_tab,
body.modula-gallery_page_modula-lite-vs-pro .nav-tab-wrapper > .nav-tab.last_tab,
body.modula-gallery_page_modula .nav-tab-wrapper > .nav-tab.last_tab,
body.post-type-modula-gallery .nav-tab-wrapper > .nav-tab.last_tab {
	border-top-right-radius : 4px;
	border-right            : 1px solid #ccc;
}

body.post-type-modula-gallery #posts-filter,
body.post-type-modula-gallery #wpbody-content .wrap > ul.subsubsub {
	padding : 0 20px;
}


body.modula-gallery_page_modula-addons .modula-page-header,
body.modula-gallery_page_modula-lite-vs-pro .modula-page-header,
body.modula-gallery_page_modula .modula-page-header,
body.post-type-modula-gallery .modula-page-header {
	display         : flex;
	justify-content : space-between;
	background      : #fff;
	width           : 100%;
}

body.post-type-modula-gallery .modula-page-header {
	border-top : 1px solid #ccc;
}

body.modula-gallery_page_modula .modula-columns {
	padding : 15px;
}

.modula-page-header .modula-logo {
	max-height : 35px;
}

/* Added by Cristi */
body.modula-gallery_page_modula-addons .modula-header-links {
	margin-right:10px;
}

.modula-header-links .dashicons { font-size: 16px; }

.modula-status-bar {
	/*display:flex;*/
	align-items: center;
	align-content: center;
	position: relative;
	width:500px;
	padding-top: 20px;
}

#modula_settings_search_results {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid;
    padding: 0px 5px;
    z-index: 999;
    top: 23px;
    border-radius: 3px;
	width:500px;
}
.modula_search_result_item_name, .modula_search_result_item_description {
    display: block;
    font-size: 13px;
    margin-bottom: .2em;
}
.modula_search_result_item {
    padding: 6px 12px;
    text-decoration: none;
    display: flex;
    color: #000;
}
.modula_search_result_item .mrgl
{
	flex: auto;
}
.modula_search_result_item .mrgl.badge-center {
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    padding-left: 10px;
}
.modula_search_result_item_bread {
    font-size: 9px;
	display: block;
	line-height: 13px;
}
.modula-status-bar .selectize-control.single .selectize-input,.modula-status-bar .selectize-dropdown.single {
    max-width: unset;
}
.modula_search_result_req_pro {
    margin-right: 5px;
    font-size: 12px;
    background: #f4daa4;
    padding: 2px 5px;
    color: #000;
    font-weight: 400;
}
.modula_search_result_badge {
    margin-right: 5px;
    font-size: 12px;
    background: #f0f0f0;
    padding: 2px 5px;
    color: #000;
    font-weight: 400;
}
.modula_search_result_item_description {
    display: block;
    font-size: 10px;
    line-height: 14px;
}
.mrgl.mrgl-details {
    width: 85%;
}
.modula-status-bar .selectize-dropdown-content {
    max-height: 300px;
	padding: 8px 16px;
}
.modula_search_result_item.active {
    background-color: #f0f0f0;
    color: #007cba;
}
.modula_search_result_item.active .modula_search_result_badge {
    color: #007cba;
    background-color: #fff;
}
.modula-status-bar .selectize-control.single .selectize-input{
	box-shadow: unset;
	background-color: unset;
	background-image: unset;
	cursor:text;
}
.modula-status-bar .selectize-control.single .selectize-input:after {
	all: unset;
    content: "\f179";
    font-family: dashicons;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.modula_search_result_item.active .mrgl-details .modula_search_result_item_name .highlight{
	color: #007cba;
}
.mrgl-details .modula_search_result_item_name .highlight {
    font-weight: 700;
	background: none !important;
}

.mrgl-details .modula_search_result_item_description .highlight,.mrgl-details .modula_search_result_item_bread .highlight {
    font-weight: unset;
	color:unset;
	background: none !important;
}
.modula_search_result_item_description, .modula_search_result_item_bread {
    color: #757575;
}
.modula-pointer-buttons a.button {
    margin-left: 10px;
}
.modula-pointer-buttons a.close {
    top: 5px;
}
.modula_searchbar_disabled .wp-pointer{
	display: none !important;
}
